extends layout

block content
  .page_content.entry_profile_page
  .head_banner2
    .search_bar
      input#inputSearch(type="text", name="Search", placeholder = "Search Comics... ", required)
    .buttons_main
      .bmr
        button#btnMain(type="submit", onclick="location.href='/logout'") Logout
      .bmr
        button#btnMain(type="submit", onclick="location.href='/gallery'") Gallery
      .bmr
        button#btnMain(type="submit", onclick="location.href='/profile'") Profile
      .bmr
        button#btnMain(type="submit", onclick="location.href='/home'") Home
  .create_Page_Content
    form(action = '/myComics', method = 'post')
      label Enter a Name for the Comic
      input#inputName(type = "text", name = "newcomicname", placeholder="Enter name...")
      .signupbtn
        button#saveButton(type="submit") Create

