doctype html
html
  head
    title= title 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    script(src='/scripts/ownscript.js')
  body
  .body_wrapper
    .head_banner
      h1#c1 COMI
      h1#c2 C
      h1#c3 LOCK
      h3#slogan Create, Contribute and View Comics!
    block content
  #footer_padding
  .footer
    #creators BYTEME 2016